.cases-container {
    display: block;

    &__text {
        color: $categories-name-color;
        font-size: 20px;
        font-weight: 600;
    }

    &__list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        /* В кілька рядків для ширини > 1200px */
        margin-top: 20px;
        overflow: hidden;
        /* Приховати прокрутку для ширини > 1200px */
    }

    &__card {
        width: 350px;
        height: 407px;
        text-align: center;
        padding: 25px 100px 50px 100px;
        background-color: $section-background-color;
        border-radius: 30px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    }

    &__img {
        padding-bottom: 20px;
    }

    &__card-title {
        color: $base-font-color;
        font-size: 17px;
        font-weight: 600;
        line-height: 21px;
    }
}

@media (max-width: 1200px) {
    .cases-container {
        &__list {
            gap: 16px;
            flex-wrap: nowrap;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-padding: 0 20px;
            scroll-behavior: smooth;
        }

        &__item {
            flex: 0 0 auto;
            width: 80%;
            scroll-snap-align: center;
        }

        &__card {
            width: 300px;
            height: 357px;
            padding: 15px 75px 11px 75px;
        }
    }
}