.product {

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: rgb(131, 131, 131);
    }

    &__body {
        margin: 20px 0 0 0;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: 0.1);
    }

    &__like {
        padding: 20px 0 0 24px;
    }

    &__img {
        text-align: center;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
    }

    &__row-left {
        display: flex;
        align-items: center;
        margin: 0 0 27px 35px;
    }

    .user-response-btn {
        background-color: #ffff;
        margin: 0 15px 5px 30px;
    }

    &__response {
        display: flex;
        flex-direction: row-reverse;

        &[data-total-value="1"] .product__response-item:nth-child(n+5),
        &[data-total-value="2"] .product__response-item:nth-child(n+4),
        &[data-total-value="3"] .product__response-item:nth-child(n+3),
        &[data-total-value="4"] .product__response-item:nth-child(n+2),
        &[data-total-value="5"] .product__response-item:nth-child(n+1) {
            color: #ffce7f;
        }
    }

    &__response-item {
        cursor: pointer;
        font-size: 30px;
        color: rgb(163, 163, 163);

        // &:hover,
        // &:hover~& {
        //     color: #ffce7f;
        // }
    }

    &__response-number {}



    &__name {}

    &__price {
        margin: 0 95px 35px 0;
    }

    &__specifications {
        display: flex;
        padding: 23px 0;
        gap: 31px;
    }

    details>summary {
        display: none;
    }

    .description {
        background-color: #F9F9F9;
        color: rgb(28, 28, 39);
        border-radius: 15px;
        padding: 0 0 24px 22px;
        box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: 0.1);
        width: 100%;

        summary {
            list-style: none;
        }

        summary::-webkit-details-marker {
            display: none;
        }

        &__title_desktop {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin: 20px 0 0 0;
        }

        &__title {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin: 20px 0 0 0;
        }

        &__characteristics {
            padding: 41px 0 0 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__item {
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
        }
    }

    .description-rating {
        display: none;
    }


    .product-button {
        display: flex;
        flex-direction: column;
        gap: 18px;

        &__item {
            width: 254px;
            height: 45px;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: white;
            background-color: rgba(16, 16, 16, 0.85);
            border-radius: 10px;
            box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: 0.2);
        }

        &__item_mobile {
            display: none;
        }

        .basket-batton {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;

            img {
                filter: brightness(100) contrast(100%);
            }
        }
    }
}

@media (max-width: 992px) {

    .product {
        margin: 20px 0 0 0;
        padding: 0 24px;

        &__title {
            font-size: 17px;
            line-height: 21px;
        }

        &__body {}

        &__like {
            display: flex;
            justify-content: end;
            margin: 0 15px 0 0;
        }

        &__img {}

        &__row {
            font-size: 17px;
            line-height: 21px;
            font-weight: 600;
            padding: 15px 22px 25px 22px;
        }

        &__name {
            margin: 0;
        }

        &__price {
            margin: 0;
        }

        &__specifications {
            flex-direction: column;
            padding: 30px 0 0px 0;
            gap: 28px;
            min-height: 100%;
        }
    }

    details>summary {
        display: flex !important;
    }

    .description {
        padding: 0 0 18px 0px !important;

        summary {
            display: flex !important;
            align-items: center;
            margin: 20px 5% 0 5%;
            gap: 10px;
            justify-content: space-between;
            padding: 0 0 0px 0px !important;
            min-height: 30px;
        }

        &__title_desktop {
            display: none;
        }

        &__title {
            font-weight: 600;
            font-size: 17px;
            line-height: 21px;
            margin: 0 !important;
        }



        &__response-item_mobile {
            font-size: 25px;
        }

        &__title-arrow {
            transition: all 1s ease;
            margin: 0 0 0 10px;

            &:last-of-type {
                margin-top: 8px;
            }
        }

        &__title-arrow_active {
            transform: rotate(180deg);
        }

        &__characteristics {}

        &__item {
            font-weight: 400;
            padding: 0 0 0 26px;
        }

        &__rating {
            display: flex;
            gap: 1%;

            p {
                display: flex;
                gap: 10px;
            }
        }
    }

    .description-rating {
        display: block !important;
        margin: 0 0 110px 0;
    }

    .product-button {
        position: absolute;
        width: 91%;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: row !important;

        &__item {
            display: none !important;
        }

        .whatsapp {
            background-color: #43D854;
            fill: white;
        }

        &__item_mobile {
            display: block !important;
            height: 60px;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            color: white;
            background-color: rgba(16, 16, 16, 0.85);
            border-radius: 15px;
            box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: 0.2);
        }

        .basket-batton_mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;

            img {
                filter: brightness(100) contrast(100%);
            }
        }

        .lil-btn {
            flex: 1 1 60px;
        }

        .big-btn {
            flex: 1 1 215px;
        }
    }
}



.user-response {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    background-color: rgba($color: #00000025, $alpha: 0.1);
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    opacity: 0;

    &__body {
        background: white;
        padding: 30px;
        border-radius: 20px;
        width: 500px;
        position: relative;
    }

    &__close {
        top: -15px;
        right: 5px;
        cursor: pointer;
        position: absolute;
        width: 22px;
        height: 22px;

        &:hover {
            span {
                background-color: black;
            }
        }

        span {
            background-color: rgba($color: grey, $alpha: 1);
            height: 2px;
            width: 22px;
            display: block;
            position: absolute;
            transition: all 0.3s ease;
            cursor: pointer;
            top: 10px;

            &:first-of-type {
                animation: closeFirst;
                animation-duration: 0.3s;
                animation-timing-function: ease;
                animation-delay: 0.3s;
                animation-fill-mode: forwards;
            }

            &:last-of-type {
                animation: closeSecond;
                animation-duration: 0.3s;
                animation-timing-function: ease;
                animation-delay: 0.3s;
                animation-fill-mode: forwards;
            }

            @keyframes closeFirst {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(45deg);
                }
            }

            @keyframes closeSecond {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &__title {
        font-size: 20px;
        text-align: center;
    }

    &__form {
        height: 100%;
        position: relative;
    }
}

.response-form {
    height: 100%;

    &__rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 10px;
        margin: 10px 0 0 0;

        &:not(:checked)>input {
            display: none;
        }

        &:not(:checked)>label {
            padding: 0;
            cursor: pointer;
            font-size: 32px;
            line-height: 32px;
            color: rgb(163, 163, 163);
            transition: all 0.3s ease;
        }

        &:not(:checked)>label:before {
            content: '★';
        }

        &>input:checked~label {
            color: #ffce7f;
        }

        &:not(:checked)>label:hover,
        &:not(:checked)>label:hover~label {
            color: #ffce7f;
        }

        &>input:checked+label:hover,
        &>input:checked+label:hover~label,
        &>input:checked~label:hover,
        &>input:checked~label:hover~label,
        &>label:hover~input:checked~label {
            color: #ffce7f;
        }

        &>label:active {
            position: relative;
        }
    }

    &__comment {
        margin: 18px 0 0 0;
        background-color: rgb(227, 227, 227);
        color: black;
        font-weight: 600;
        font-size: 16px;
        border-radius: 15px;
        padding: 20px;
        width: 100%;
        height: 120px;
        resize: none;
        transition: all 0.3s ease;

        &::placeholder {
            color: grey;
        }

        &:hover,
        &:focus {
            box-shadow: 0px 2px 6px rgba(200, 200, 200, 1);
        }
    }

    &__submit {
        margin: 20px auto 0 auto;
        display: block;
        width: 254px;
        height: 45px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: white;
        background-color: rgba(16, 16, 16, 0.85);
        border-radius: 10px;
        box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: 0.2);

        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.1);
            background-color: black;
        }
    }
}

@media (max-width:992px) {
    .user-response-btn {
        display: none;
    }

    .product__row {
        padding: 0;
        margin: 0 10px 0 0;
    }

    .product__response-number {
        display: none;
    }

    .response-form {
        margin: 20px 5% 0 5%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__rating {
            align-items: center;
            justify-content: start;
        }

        &__comment {
            margin: 20px 0 0 0;
            display: block;
            margin: 0 auto;
            width: 100%;
        }

        &__submit {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }

    .product__response {
        align-items: center;
    }
}