@charset "UTF-8";
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v26-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v26-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v26-latin-600.woff2") format("woff2");
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #eaeaea;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.23;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

main {
  flex: 1 1 100%;
}

.section {
  padding: 24px 0;
}

.hero-section {
  padding-top: 22px;
}

.wireles-headphones-section {
  padding-bottom: 60px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0 10px 0;
}
.header-container__left-content {
  display: flex;
  align-items: center;
}
.header-container__right-content {
  display: flex;
  align-items: center;
  gap: 45px;
  z-index: 1;
}
.header-container .right-content__img {
  z-index: -11;
  position: relative;
  transition: transform 0.3s ease;
}
.header-container .right-content__img:hover .right-content__count {
  transform: scale(1.2);
}
.header-container .right-content__count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #ffa542;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  font-family: Montserrat;
  color: rgb(255, 255, 255);
  height: 17.5px;
  width: 17.5px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  text-align: center;
  padding-top: 1px;
  display: none;
}
.header-container .right-content__burger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 18px;
  display: none;
  background-color: #eaeaea;
}
.header-container .right-content__burger-item {
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(131, 131, 131);
}
@media (max-width: 992px) {
  .header-container .right-content__burger-btn {
    display: flex;
  }
}

@media (max-width: 992px) {
  .header-container {
    padding: 20px 24px 0 24px;
  }
}
.menu {
  position: relative;
  margin: 0 0 0 65px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: 0 13px 0 30px;
  cursor: pointer;
}
.menu__button {
  position: relative;
  z-index: 10;
  padding: 20px 0 20px 0;
  transition: transform 0.3s ease;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  background-color: #eaeaea;
}
.menu__button::before {
  content: "";
  position: absolute;
  background-image: url("/static/core/images/phone-icon.svg");
  height: 21px;
  width: 15px;
  top: 17px;
  left: -30px;
}
.menu__button::after {
  content: "";
  position: absolute;
  background-image: url("/static/core/images/header-arrow.svg");
  height: 5px;
  width: 8px;
  right: -13px;
  top: 25px;
  transition: all 0.5s ease;
}
.menu__button_active::after {
  transform: rotate(90deg);
  top: 26px;
}
.menu__list {
  position: absolute;
  opacity: 0;
  transition: opacity 1.5s;
  width: 217px;
  top: -30px;
  left: 3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  z-index: -5;
  border-radius: 0 0 10px 10px;
  padding: 14px 0px 29px 27px;
  transition: all 0.5s ease;
  background-color: #EAEAEA;
}
.menu__list_active {
  width: 217px;
  top: 37px;
  opacity: 1;
  left: 3px;
  z-index: 5;
  display: block;
}
.menu summary {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  padding: 5px 0;
  list-style: none;
}
.menu__list-subtitle {
  position: relative;
  display: inline-block;
  width: 150px;
}
.menu__list-subtitle::after {
  content: "";
  background-image: url("/static/core/images/header-arrow.svg");
  position: absolute;
  height: 7px;
  width: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  top: 8px;
  transition: all 0.5s ease;
}
.menu__list-subtitle_active::after {
  transform: rotate(180deg);
}
.menu__list-subtitle_active {
  font-size: 17px;
}
.menu .details-content :last-child {
  padding-bottom: 20px;
}
.menu a {
  display: block;
  padding: 9px 0 0 19px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(16, 16, 16);
  transition: 0.3s ease;
}
.menu a:hover {
  color: rgb(255, 165, 66);
}
.menu__list-aditional-item {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  padding: 9px 0 9px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  display: none;
}
.menu__list-aditional-item :first-child {
  padding: 0;
}
.menu__list-lang-menu {
  display: flex;
  justify-content: start;
  gap: 8px;
}
.menu__list-lang-menu a {
  padding: 0;
}
@media (max-width: 992px) {
  .menu__button {
    position: absolute;
    right: 0;
    max-width: 20px;
    font-size: 0;
  }
  .menu__button::before, .menu__button::after {
    content: none;
    background-image: none;
  }
  .menu__list {
    opacity: 1;
    right: 100%;
    z-index: 10;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.1);
  }
  .menu__list-aditional-item {
    display: flex;
  }
}

@media (max-width: 992px) {
  .menu {
    position: absolute;
    right: -47px;
    top: 27px;
    z-index: 10;
    transition: all 1s ease;
    font-size: 15px;
    line-height: 18px;
  }
  .menu_active {
    right: 170px;
  }
}
.footer-container {
  position: relative;
  height: 149px;
  background-color: #ffffff;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
}
.footer-container .footer-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 174px;
}
.footer-container .footer-content__left-content {
  display: flex;
  flex-basis: 50%;
  justify-content: end;
}
.footer-container .footer-content__logo {
  position: absolute;
  top: 29px;
  left: 31px;
}
.footer-container .footer-content__menu li {
  padding-bottom: 10px;
}
.footer-container .footer-content__menu-item {
  font-weight: 400;
  color: #000000;
  transition: color 0.3s;
}
.footer-container .footer-content__menu-item:hover {
  color: #ffa542;
}
.footer-container .footer-content__right-content {
  display: flex;
  flex-basis: 50%;
  gap: 135px;
  align-items: center;
}
.footer-container .footer-content__conditions {
  font-weight: 400;
  margin: 0 0 36px 0;
}
.footer-container .footer-content__conditions a {
  color: #000000;
}
.footer-container .footer-content__lang {
  display: flex;
}
.footer-container .footer-content__lang-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 15px;
  margin-left: 10px;
}
.footer-container .footer-content__lang-item {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
  transition: color 0.3s;
}
.footer-container .footer-content__lang-item:hover {
  color: #ffa542;
}
.footer-container .footer-content__social-icons {
  display: flex;
  gap: 17px;
  position: absolute;
  top: 29px;
  right: 31px;
}
.footer-container .social-link:hover {
  fill: #ffa542;
}

.advertising-block {
  display: flex;
  background-color: rgb(16, 16, 16);
  position: relative;
  min-height: 197px;
  border-radius: 30px;
  margin: 0px 0 0 0;
  overflow: hidden;
}
.advertising-block__title {
  font-weight: 600;
  line-height: 37px;
  color: white;
  padding: 58px 0 0 20%;
  font-size: 30px;
  text-align: center;
  max-width: 550px;
}
.advertising-block__img {
  position: absolute;
  left: 55%;
  bottom: -20px;
}

@media (max-width: 992px) {
  .advertising-container {
    padding: 0 25px;
  }
  .advertising-block {
    min-height: 173px;
    margin: 22px 0 0 0;
  }
  .advertising-block__title {
    padding: 45px 0 0 6.5%;
    font-size: 30px;
    text-align: left;
    max-width: 350px;
  }
  .advertising-block__img {
    bottom: -16.3px;
  }
  .advertising-block img {
    height: 220px;
    width: auto;
  }
}
@media (max-width: 688px) {
  .advertising-container {
    padding: 0 25px;
  }
  .advertising-block {
    min-height: 173px;
    border-radius: 30px;
    margin: 22px 0 0 0;
  }
  .advertising-block__title {
    line-height: 24px;
    color: white;
    font-size: 20px;
    max-width: 188px;
  }
  .advertising-block img {
    margin: 0% 0 0 -30%;
  }
}
@media (max-width: 468px) {
  .advertising-container {
    padding: 0 10px;
  }
  .advertising-block__title {
    padding: 45px 0 0 4%;
    max-width: 170px;
  }
  .advertising-block__img {
    bottom: -16.4px;
  }
  .advertising-block img {
    margin: 0 0 0 -38%;
  }
}
@media (max-width: 392px) {
  .advertising-block__title {
    font-size: 18px;
    max-width: 150px;
  }
}
@media (max-width: 362px) {
  .advertising-block__title {
    font-size: 18px;
    max-width: 130px;
  }
}
.cases-container {
  display: block;
}
.cases-container__text {
  color: #838383;
  font-size: 20px;
  font-weight: 600;
}
.cases-container__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
  overflow: hidden;
}
.cases-container__card {
  width: 350px;
  height: 407px;
  text-align: center;
  padding: 25px 100px 50px 100px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.cases-container__img {
  padding-bottom: 20px;
}
.cases-container__card-title {
  color: #000000;
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
}

@media (max-width: 1120px) {
  .cases-container {
    padding: 0 15px;
  }
  .cases-container__list {
    gap: 28px;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 20px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .cases-container__item {
    flex: 0 0 auto;
    width: 80%;
    scroll-snap-align: center;
  }
  .cases-container__card {
    width: 300px;
    height: 357px;
    padding: 15px 75px 11px 75px;
  }
}
@media (min-width: 992px) {
  .cases-container .cases-block__swiper-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}
.headphones-container__text {
  color: #838383;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.headphones-container .headphones-block__card {
  position: relative;
  max-width: 350px;
  height: 407px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.headphones-container .headphones-block__card-like {
  position: absolute;
  top: 15px;
  left: 22px;
}
.headphones-container .headphones-block__card-img {
  display: flex;
  justify-content: center;
  padding: 15px 65px 54px 65px;
}
.headphones-container .headphones-block__card-text {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 80px;
  font-weight: 600;
  padding: 0 21px;
}
.headphones-container .headphones-block__card-title {
  color: #000000;
  text-align: left;
  flex: 1;
}
.headphones-container .headphones-block__card-price {
  color: #000000;
  text-align: right;
  flex-shrink: 0;
}
.headphones-container .headphones-block__star-rating {
  position: absolute;
  bottom: 32px;
  left: 21px;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 5px;
}
.headphones-container .headphones-block__card-star {
  color: #ffc107;
  margin-right: 5px;
}
.headphones-container .headphones-block__card-rating-value {
  font-size: 16px;
  color: #333;
}

@media (max-width: 1120px) {
  .container {
    max-width: 992px;
  }
  .headphones-container {
    padding: 0 15px;
  }
  .headphones-container .headphones-block__card {
    max-width: 300px;
    height: 357px;
  }
  .headphones-container .headphones-block__card-img {
    padding: 10px 45px 44px 45px;
  }
  .headphones-container .headphones-block__card-text {
    gap: 10px;
    font-size: 14px;
    padding: 0 11px;
  }
  .headphones-container .headphones-block__star-rating {
    bottom: 11px;
    left: 17px;
  }
  .headphones-container .headphones-block__card-rating-value {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .headphones-container .headphones-block__swiper-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  .headphones-container .headphones-block__swiper-slide {
    border-radius: 30px;
  }
}
.heart-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease;
}
.heart-button:hover {
  transform: scale(1.2);
}
.heart-button img {
  width: 20px;
  height: 18px;
}

@media (max-width: 992px) {
  .heart-button {
    transition: none;
  }
  .heart-button:hover {
    transform: none;
  }
}
.product__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: rgb(131, 131, 131);
}
.product__body {
  margin: 20px 0 0 0;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}
.product__like {
  padding: 20px 0 0 24px;
}
.product__like img {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.product__like img:hover {
  transform: scale(1.2);
}
@media (max-width: 992px) {
  .product__like img {
    transition: none;
  }
  .product__like img:hover {
    transform: none;
  }
}
.product__img {
  text-align: center;
}
.product__row {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}
.product__row-left {
  display: flex;
  align-items: center;
  margin: 0 0 27px 35px;
}
.product .user-response-btn {
  background-color: white;
  margin: 0 15px 5px 30px;
}
.product__response {
  display: flex;
  flex-direction: row-reverse;
}
.product__response[data-total-value="1"] .product__response-item:nth-child(n+5), .product__response[data-total-value="2"] .product__response-item:nth-child(n+4), .product__response[data-total-value="3"] .product__response-item:nth-child(n+3), .product__response[data-total-value="4"] .product__response-item:nth-child(n+2), .product__response[data-total-value="5"] .product__response-item:nth-child(n+1) {
  color: #ffce7f;
}
.product__response-item {
  cursor: pointer;
  font-size: 30px;
  color: rgb(163, 163, 163);
}
.product__price {
  margin: 0 95px 35px 0;
}
.product__specifications {
  display: flex;
  padding: 23px 0;
  gap: 31px;
}
.product details > summary {
  display: none;
}
.product .description {
  background-color: #F9F9F9;
  color: rgb(28, 28, 39);
  border-radius: 15px;
  padding: 0 0 24px 22px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.product .description summary {
  list-style: none;
}
.product .description summary::-webkit-details-marker {
  display: none;
}
.product .description__title_desktop {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 20px 0 0 0;
}
.product .description__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 20px 0 0 0;
}
.product .description__characteristics {
  padding: 41px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product .description__item {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.product .description-rating {
  display: none;
}
.product .product-button {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.product .product-button__item {
  width: 254px;
  height: 45px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: white;
  background-color: rgba(16, 16, 16, 0.85);
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.product .product-button__item_mobile {
  display: none;
}
.product .product-button .basket-batton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.product .product-button .basket-batton img {
  filter: brightness(100) contrast(100%);
}

@media (max-width: 992px) {
  .product {
    margin: 20px 0 0 0;
    padding: 0 24px;
  }
  .product__title {
    font-size: 17px;
    line-height: 21px;
  }
  .product__like {
    display: flex;
    justify-content: end;
    margin: 0 15px 0 0;
  }
  .product__row {
    font-size: 17px;
    line-height: 21px;
    font-weight: 600;
    padding: 15px 22px 25px 22px;
  }
  .product__name {
    margin: 0;
  }
  .product__price {
    margin: 0;
  }
  .product__specifications {
    flex-direction: column;
    padding: 30px 0 0px 0;
    gap: 28px;
    min-height: 100%;
  }
  details > summary {
    display: flex !important;
  }
  .description {
    padding: 0 0 18px 0px !important;
  }
  .description summary {
    display: flex !important;
    align-items: center;
    margin: 20px 5% 0 5%;
    gap: 10px;
    justify-content: space-between;
    padding: 0 0 0px 0px !important;
    min-height: 30px;
  }
  .description__title_desktop {
    display: none;
  }
  .description__title {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    margin: 0 !important;
  }
  .description__response-item_mobile {
    font-size: 25px;
  }
  .description__title-arrow {
    transition: all 1s ease;
    margin: 0 0 0 10px;
  }
  .description__title-arrow:last-of-type {
    margin-top: 8px;
  }
  .description__title-arrow_active {
    transform: rotate(180deg);
  }
  .description__item {
    font-weight: 400;
    padding: 0 0 0 26px;
  }
  .description__rating {
    display: flex;
    gap: 1%;
  }
  .description__rating p {
    display: flex;
    gap: 10px;
  }
  .description-rating {
    display: block !important;
    margin: 0 0 110px 0;
  }
  .product-button {
    position: absolute;
    width: 91%;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row !important;
  }
  .product-button__item {
    display: none !important;
  }
  .product-button .whatsapp {
    background-color: #43D854;
    fill: white;
  }
  .product-button__item_mobile {
    display: block !important;
    height: 60px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: white;
    background-color: rgba(16, 16, 16, 0.85);
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  .product-button .basket-batton_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .product-button .basket-batton_mobile img {
    filter: brightness(100) contrast(100%);
  }
  .product-button .lil-btn {
    flex: 1 1 60px;
  }
  .product-button .big-btn {
    flex: 1 1 215px;
  }
}
.user-response {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  opacity: 0;
}
.user-response__body {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 500px;
  position: relative;
}
.user-response__close {
  top: -15px;
  right: 5px;
  cursor: pointer;
  position: absolute;
  width: 22px;
  height: 22px;
}
.user-response__close:hover span {
  background-color: black;
}
.user-response__close span {
  background-color: gray;
  height: 2px;
  width: 22px;
  display: block;
  position: absolute;
  transition: all 0.3s ease;
  cursor: pointer;
  top: 10px;
}
.user-response__close span:first-of-type {
  animation: closeFirst;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
.user-response__close span:last-of-type {
  animation: closeSecond;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes closeFirst {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes closeSecond {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
.user-response__title {
  font-size: 20px;
  text-align: center;
}
.user-response__form {
  height: 100%;
  position: relative;
}

.response-form {
  height: 100%;
}
.response-form__rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 10px;
  margin: 10px 0 0 0;
}
.response-form__rating:not(:checked) > input {
  display: none;
}
.response-form__rating:not(:checked) > label {
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: rgb(163, 163, 163);
  transition: all 0.3s ease;
}
.response-form__rating:not(:checked) > label:before {
  content: "★";
}
.response-form__rating > input:checked ~ label {
  color: #ffce7f;
}
.response-form__rating:not(:checked) > label:hover, .response-form__rating:not(:checked) > label:hover ~ label {
  color: #ffce7f;
}
.response-form__rating > input:checked + label:hover, .response-form__rating > input:checked + label:hover ~ label, .response-form__rating > input:checked ~ label:hover, .response-form__rating > input:checked ~ label:hover ~ label, .response-form__rating > label:hover ~ input:checked ~ label {
  color: #ffce7f;
}
.response-form__rating > label:active {
  position: relative;
}
.response-form__comment {
  margin: 18px 0 0 0;
  background-color: rgb(227, 227, 227);
  color: black;
  font-weight: 600;
  font-size: 16px;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  height: 120px;
  resize: none;
  transition: all 0.3s ease;
}
.response-form__comment::-moz-placeholder {
  color: grey;
}
.response-form__comment::placeholder {
  color: grey;
}
.response-form__comment:hover, .response-form__comment:focus {
  box-shadow: 0px 2px 6px rgb(200, 200, 200);
}
.response-form__submit {
  margin: 20px auto 0 auto;
  display: block;
  width: 254px;
  height: 45px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: white;
  background-color: rgba(16, 16, 16, 0.85);
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.response-form__submit:hover {
  transform: scale(1.1);
  background-color: black;
}

@media (max-width: 992px) {
  .user-response-btn {
    display: none;
  }
  .product__row {
    padding: 0;
    margin: 0 10px 0 0;
  }
  .product__response-number {
    display: none;
  }
  .response-form {
    margin: 20px 5% 0 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .response-form__rating {
    align-items: center;
    justify-content: start;
  }
  .response-form__comment {
    margin: 20px 0 0 0;
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .response-form__submit {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .product__response {
    align-items: center;
  }
}
.add-to-cart {
  position: fixed;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  bottom: 0;
  z-index: 10;
  transition: bottom 0.3s ease;
  opacity: 0;
}
.add-to-cart__body {
  background-color: rgba(226, 226, 226, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 10px;
  border-radius: 15px;
}
.add-to-cart__content {
  font-size: 14px;
}
.add-to-cart--active {
  animation-name: cartAdd;
  animation-duration: 4s;
  animation-timing-function: ease;
}
@keyframes cartAdd {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
  }
  50% {
    transform: translateX(-50%) translateY(-300%);
  }
  80% {
    opacity: 1;
    transform: translateX(-50%) translateY(-300%);
  }
  100% {
    transform: translateX(-50%) translateY(-300%);
  }
}

.about-container {
  margin-top: 44px;
}
.about-container .about-block__content {
  max-width: 1107px;
  min-height: 162px;
  padding: 15px 30px;
  background-color: #ffffff;
  margin-bottom: 33px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.about-container .about-block__title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 15px;
}
.about-container .about-block__text {
  font-size: 17px;
  font-weight: 400;
  margin: 0 14px;
}

@media (max-width: 1120px) {
  .about-container {
    padding: 0 15px;
  }
}
.contact-section {
  margin-top: 27px;
}

.contact-container {
  max-width: 900px;
  margin: 0 auto;
}
.contact-container__content {
  display: flex;
  gap: 60px;
}
.contact-container__map {
  max-width: 760px;
  max-height: 554px;
  padding: 15px 19px 27px 17px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.contact-container__map-title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-container .location {
  display: flex;
  gap: 6px;
  margin-top: 12px;
  align-items: center;
}
.contact-container .location__text {
  font-size: 15px;
  font-weight: 500;
}
.contact-container .location__gray-text {
  font-size: 13px;
  font-weight: 500;
  color: #838383;
}
.contact-container__social-links {
  display: block;
}
.contact-container .social-links-block {
  position: relative;
  background-color: #ffffff;
  width: 97px;
  height: 97px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 14px;
}
.contact-container .social-links-block__icons {
  position: absolute;
  top: 29px;
  left: 29px;
}
.contact-container__phone {
  display: flex;
  gap: 28px;
  margin: 44px 0;
}
.contact-container__phone-link {
  font-size: 25px;
  font-weight: 600;
  color: #000000;
}

@media (max-width: 992px) {
  .contact-container__content {
    gap: 25px;
  }
}
@media (max-width: 900px) {
  .contact-container {
    padding: 0 14px;
  }
  .contact-container__content {
    display: block;
    padding: 0;
    margin: 0 auto;
  }
  .contact-container__map {
    margin: 0 auto;
  }
  .contact-container__map iframe {
    max-width: 720px;
    max-height: 420px;
  }
  .contact-container .social-links-block {
    margin: 0 auto 14px;
  }
  .contact-container__social-links {
    margin-top: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .contact-container__map {
    max-width: 650px;
    max-height: 554px;
  }
  .contact-container__map iframe {
    max-width: 620px;
    max-height: 320px;
  }
}
@media (max-width: 678px) {
  .contact-container__map {
    max-width: 550px;
    max-height: 554px;
  }
  .contact-container__map iframe {
    max-width: 520px;
    max-height: 320px;
  }
}
@media (max-width: 578px) {
  .contact-container__map {
    max-width: 379px;
    max-height: 297px;
  }
  .contact-container__map iframe {
    max-width: 345px;
    max-height: 177px;
  }
  .contact-container__social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .contact-container__social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 379px;
    margin: 20px auto;
  }
  .contact-container .social-links-block {
    width: 159px;
    height: 150px;
    margin-bottom: 10px;
    position: relative;
  }
  .contact-container .social-links-block svg,
  .contact-container .social-links-block img {
    width: 68px;
    height: 65px;
  }
  .contact-container .social-links-block__icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 408px) {
  .contact-container__map {
    max-width: 349px;
    max-height: 267px;
  }
  .contact-container__map iframe {
    max-width: 315px;
    max-height: 147px;
  }
}
.basket__basket-img {
  padding: 0 0 0 10px;
}
.basket__basket-img p {
  text-align: center;
}
.basket__title {
  margin: 30px 0 0 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: rgb(16, 16, 16);
  text-align: center;
}
.basket__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1px;
  color: rgb(131, 131, 131);
  text-align: center;
  margin: 10px 0 0 0;
}
.basket__subtitle span {
  font-weight: 600;
}
.basket__back-button {
  display: block;
  margin: 30px auto 0 auto;
  padding: 20px 172px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  background-color: rgb(16, 16, 16);
  border-radius: 20px;
  transition: all 0.3s ease;
}
.basket__back-button:hover {
  transform: scale(1.2);
}

.cart-title {
  margin-top: 29px;
  margin-bottom: 13px;
}

.cart-container {
  display: flex;
  gap: 128px;
}
.cart-container__items {
  width: 100%;
  max-width: 633px;
}
.cart-container__item {
  position: relative;
  max-width: 633px;
  max-height: 218px;
  background-color: #ffffff;
  margin-bottom: 13px;
  padding: 18px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.cart-container__item-main {
  display: flex;
  align-items: center;
}
.cart-container__item-main .main-image {
  margin-right: 24px;
}
.cart-container__item-main .cart-delete {
  position: absolute;
  top: 18px;
  right: 28px;
}
.cart-container__main-text {
  display: block;
}
.cart-container__main-text .gray {
  margin-top: 12px;
  color: #838383;
}
.cart-container__item-bottom {
  display: flex;
  margin-top: 17px;
  gap: 24px;
}
.cart-container__item-bottom .plus-button,
.cart-container__item-bottom .minus-button {
  position: relative;
  width: 35px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffa542;
}
.cart-container__item-bottom .plus-button img,
.cart-container__item-bottom .minus-button img {
  position: absolute;
  top: 50%;
  left: 27%;
}
.cart-container__item-bottom .minus-button img {
  top: 30%;
}
.cart-container__item-bottom .item-bottom-text {
  display: flex;
  align-items: center;
}
.cart-container__item-bottom .item-bottom-price {
  position: absolute;
  top: 179px;
  right: 21px;
}
.cart-container__data {
  position: relative;
  width: 348px;
  height: 114px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 22px 22px 0 22px;
}
.cart-container__data .data-text {
  display: flex;
  justify-content: space-between;
}
.cart-container__data .data-text p {
  font-size: 15px;
}
.cart-container__data-button {
  position: absolute;
  top: 52px;
  left: 0%;
  width: 348.98px;
  height: 65px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  background: rgb(16, 16, 16);
  color: #ffffff;
  font-size: 17px;
}

@media (max-width: 1120px) {
  .cart-container__data-button {
    position: absolute;
    top: 52px;
    left: 0%;
    max-width: 236px;
    height: 65px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    background: rgb(16, 16, 16);
    color: #ffffff;
    font-size: 17px;
  }
}
@media (max-width: 992px) {
  .cart-block {
    padding: 0 24px;
  }
  .cart-container {
    gap: 64px;
  }
  .cart-container__data {
    width: 100%;
    max-width: 348px;
    height: 114px;
  }
  .cart-container__data-button {
    width: 100%;
    max-width: 348px;
    height: 65px;
  }
}/*# sourceMappingURL=main.css.map */