{% extends 'base.html' %}
{% load static %}
{% block main %}
<section>
    <div class="container">
        <div class="about-container">
            <div class="about-block">
                <div class="about-block__content">
                    <h2 class="about-block__title">Условия сервиса</h2>
                    <p class="about-block__text">
                        Задача организации, в особенности же курс на социально-ориентированный национальный проект
                        требует от нас системного
                        анализа модели развития! Таким образом, постоянное информационно-техническое обеспечение нашей
                        деятельности требует от
                        нас анализа системы масштабного изменения ряда параметров! С другой стороны
                        социально-экономическое развитие напрямую
                        зависит от всесторонне сбалансированных нововведений?</p>
                </div>
                <div class="about-block__content">
                    <h2 class="about-block__title">Условия доставки</h2>
                    <p class="about-block__text">
                        Задача организации, в особенности же курс на социально-ориентированный национальный проект
                        требует от нас системного
                        анализа модели развития! Таким образом, постоянное информационно-техническое обеспечение нашей
                        деятельности требует от
                        нас анализа системы масштабного изменения ряда параметров! С другой стороны
                        социально-экономическое развитие напрямую
                        зависит от всесторонне сбалансированных нововведений?</p>
                </div>
                <div class="about-block__content">
                    <h2 class="about-block__title">Условия возврата</h2>
                    <p class="about-block__text">
                        Задача организации, в особенности же курс на социально-ориентированный национальный проект
                        требует от нас системного
                        анализа модели развития! Таким образом, постоянное информационно-техническое обеспечение нашей
                        деятельности требует от
                        нас анализа системы масштабного изменения ряда параметров! С другой стороны
                        социально-экономическое развитие напрямую
                        зависит от всесторонне сбалансированных нововведений?</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}