{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QPICK</title>
    <link type="text/css" href="{% static 'core/css/main.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <nav></nav>
            </div>
        </header>
        <main>
            <section>
                <div class="container"></div>
            </section>
            <section>
                <div class="container"></div>
            </section>
            <section>
                <div class="container"></div>
            </section>
            <section>
                <div class="container"></div>
            </section>
        </main>
        <footer>
            <div class="container">
                <div class="footer-container">
                    <div class="footer-container__left-content">
                        <img src="{% static 'core/images/Logo.svg' %}" alt="">
                        <ul>
                            <li><a href="#">Избранное</a></li>
                            <li><a href="#">Корзина</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="footer-container__right-content">
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>