{% extends 'base.html' %}
{% block main %}
{% load static %}
<section class="basket">
    <div class="container">
        <div class="basket__body">
            <div class="basket__basket-img">
                <p><img width="410" height="315" src="{% static 'core/images/basket-background.svg' %}" alt="basket-img"></p>
            </div>
            <div class="basket__title">Корзина пуста</div>
            <div class="basket__subtitle">Но это никогда не поздно исправить <span>:)</span></div>
            <a href="{% url 'home' %}"><button class="basket__back-button">В каталог товаров</button></a>
        </div>
    </div>
</section>
{% endblock %}