{% extends 'base.html' %}
{% block main %}
{% load static %}
<div class="container">
    <div class="product">
        <div class="product__title">{{product.category}}</div>
        <div class="product__body">
            <div class="user-response">
                <div class="user-response__body">
                    <div class="user-response__form">
                        <div class="user-response__close"><span></span><span></span></div>
                        <div class="user-response__title">Оставьте свой отзыв</div>
                        <form class="response-form" action="">
                            <div class="response-form__rating">
                                <input type="radio" id="star-1" name="rating" value="1" required>
                                <label for="star-1" title="Оценка «1»"></label>
                                <input type="radio" id="star-2" name="rating" value="2">
                                <label for="star-2" title="Оценка «2»"></label>
                                <input type="radio" id="star-3" name="rating" value="3">
                                <label for="star-3" title="Оценка «3»"></label>
                                <input type="radio" id="star-4" name="rating" value="4">
                                <label for="star-4" title="Оценка «4»"></label>
                                <input type="radio" id="star-5" name="rating" value="5">
                                <label for="star-5" title="Оценка «5»"></label>
                            </div>
                            <textarea class="response-form__comment" name="" id=""
                                placeholder="Оставьте свой отзыв :)"></textarea>
                            <button class="response-form__submit" type="submit">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product__like" id="{{ product.slug }}">
                <img style="height: 22px; width: 22px;" src="{% static 'core/images/like.svg' %}" alt="">
            </div>
            <p class="product__img">
                <img src="{{product.image.url}}" alt="">
            </p>
            <div class="product__row">
                <div class="product__row-left">
                    <div class="product__name">{{product.name}}</div>
                    <button class="user-response-btn" id="user-response-btn">
                        <div class="product__response" data-total-value="">
                            <div class="product__response-item" data-item-value="5">★</div>
                            <div class="product__response-item" data-item-value="4">★</div>
                            <div class="product__response-item" data-item-value="3">★</div>
                            <div class="product__response-item" data-item-value="2">★</div>
                            <div class="product__response-item" data-item-value="1">★</div>
                        </div>
                    </button>
                    <div class="product__response-number">{{ product.rating }}</div>
                </div>
                <div class="product__price">{{product.price}} $</div>
            </div>
        </div>
        <div class="product__specifications">
            <div class="description">
                <details>
                    <div class="description__title_desktop">Описание и характеристики</div>
                    <summary>
                        <div class="description__title">Описание и характеристики</div>
                        <img class="description__title-arrow" style="height: 18px; width: 18px;"
                            src="{% static 'core/images/header-arrow.svg' %}" alt="">
                    </summary>
                    <div class="details-content">
                        <ul class="description__characteristics">
                            <li class="description__item">Назва товару: {{product.name}}</li>
                            <li class="description__item">Вага: {{product.weight}}</li>
                            <li class="description__item">Матеріал товару: {{product.material}}</li>
                            <li class="description__item">Захист від води та
                                пилу: {{product.protection_against_moisture}}
                            </li>
                            <li class="description__item">Довжина кабелю: {{product.cable_length}}</li>
                            <li class="description__item">Комплектація: {{product.complete_set}}</li>
                            <li class="description__item">Мікрофон: {{product.microphone}}</li>
                            <li class="description__item">Кольор: {{product.color}}</li>
                            <li class="description__item">Конектор: {{product.connector}}</li>
                            <li class="description__item">Керування звуком: {{product.volume_control}}</li>
                            <li class="description__item">Тип кріплення: {{product.fastening_type}}</li>
                            <li class="description__item">{{product.headphone_type}}</li>
                            <li class="description__item">Тип підключення: {{product.connection_type}}</li>
                            <li class="description__item">Частота: {{product.frequency_range}}</li>
                            <li class="description__item">Чутливість: {{product.sensitivity}}</li>
                        </ul>
                    </div>
                </details>
            </div>
            <div class="description description-rating">
                <details>
                    <summary>
                        <div class="description__title">Отзывы</div>
                        <div class="description__rating">
                            <div class="product__response" data-total-value="">
                                <div class="product__response-item" data-item-value="5">★</div>
                                <div class="product__response-item" data-item-value="4">★</div>
                                <div class="product__response-item" data-item-value="3">★</div>
                                <div class="product__response-item" data-item-value="2">★</div>
                                <div class="product__response-item" data-item-value="1">★</div>
                            </div>
                            <img class="description__title-arrow" style="height: 18px; width: 18px;"
                                src="{% static 'core/images/header-arrow.svg' %}">
                        </div>
                    </summary>
                    <div class="details-content">
                        <form class="response-form" action="">
                            <div class="response-form__rating">
                                <input type="radio" id="star-1_mobile" name="rating" value="1" required>
                                <label for="star-1_mobile" title="Оценка «1»"></label>
                                <input type="radio" id="star-2_mobile" name="rating" value="2">
                                <label for="star-2_mobile" title="Оценка «2»"></label>
                                <input type="radio" id="star-3_mobile" name="rating" value="3">
                                <label for="star-3_mobile" title="Оценка «3»"></label>
                                <input type="radio" id="star-4_mobile" name="rating" value="4">
                                <label for="star-4_mobile" title="Оценка «4»"></label>
                                <input type="radio" id="star-5_mobile" name="rating" value="5">
                                <label for="star-5_mobile" title="Оценка «5»"></label>
                                Ваша оценка:
                            </div>
                            <textarea class="response-form__comment" name="" id=""
                                placeholder="Оставьте свой отзыв :)"></textarea>
                            <button class="response-form__submit" type="submit">Отправить</button>
                        </form>
                    </div>
                </details>
            </div>
            <div class="product-button">
                <a href="{% url 'core:order_page' %}">
                    <button class="product-button__item">Купить!</button>
                </a>
                <a href="{% url 'cart:cart_add' product.slug %}">
                    <button onclick=addToCart(event) class="product-button__item basket-batton">
                        <img src="{% static  'core/images/basket-icon.svg' %}" alt="">Добавить в корзину</button>
                </a>
                <button class="product-button__item_mobile basket-batton_mobile lil-btn">
                    <img src="{% static  'core/images/basket-icon.svg' %}" alt="">
                </button>
                <button class="product-button__item_mobile big-btn">Купить сейчас!</button>
                <button class="product-button__item_mobile whatsapp lil-btn">
                    <svg class="social-link" width="31px" height="28px">
                        <use href="{% static 'core/images/icons.svg' %}#icon-whatsapp">
                        </use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="add-to-cart">
            <div class="add-to-cart__body">
                <div class="add-to-cart__content">Товар в кошику</div>
                <div class="add-to-cart__icon"><img width="32" height="32"
                        src="https://img.icons8.com/color/48/checked--v1.png" alt="checked--v1" /></div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'core/js/product.js' %}"></script>
{% endblock %}