.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0 10px 0;

    &__left-content {
        display: flex;
        align-items: center;
    }

    &__right-content {
        display: flex;
        align-items: center;
        gap: 45px;
        z-index: 1;
    }

    .right-content {

        &__img {
            z-index: -11;
        }

        &__burger-btn {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 20px;
            height: 18px;
            display: none;
            background-color: $page-background-color;
        }

        &__burger-item {
            display: block;
            width: 100%;
            height: 2px;
            background-color: rgb(131, 131, 131);
        }
    }

    @media (max-width: 992px) {
        .right-content {
            &__burger-btn {
                display: flex;
            }
        }
    }
}

@media (max-width: 992px) {
    .header-container {
        padding: 20px 24px 0 24px;
    }
}

.menu {
    position: relative;
    margin: 0 0 0 65px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 0 13px 0 30px;
    cursor: pointer;

    &__button {
        position: relative;
        z-index: 10;
        padding: 20px 0 20px 0;
        transition: transform 0.3s ease;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        background-color: $page-background-color;
    }

    &__button::before {
        content: "";
        position: absolute;
        background-image: url('/static/core/images/phone-icon.svg');
        height: 21px;
        width: 15px;
        top: 17px;
        left: -30px;
    }

    &__button::after {
        content: "";
        position: absolute;
        background-image: url('/static/core/images/header-arrow.svg');
        height: 5px;
        width: 8px;
        right: -13px;
        top: 25px;
        transition: all 0.5s ease;
    }

    &__button_active::after {
        transform: rotate(90deg);
        top: 26px;
    }

    &__list {
        position: absolute;
        opacity: 0;
        transition: opacity 1.5s;
        width: 217px;
        top: -30px;
        left: 3px;
        box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.1);
        z-index: -5;
        border-radius: 0 0 10px 10px;
        padding: 14px 0px 29px 27px;
        transition: all 0.5s ease;
        background-color: #EAEAEA;
    }

    &__list_active {
        width: 217px;
        top: 37px;
        opacity: 1;
        left: 3px;
        z-index: 5;
        display: block;
    }

    &__list-item {}

    summary {
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        padding: 5px 0;
        list-style: none;
    }

    &__list-subtitle {
        position: relative;
        display: inline-block;
        width: 150px;
    }

    &__list-subtitle::after {
        content: "";
        background-image: url('/static/core/images/header-arrow.svg');
        position: absolute;
        height: 7px;
        width: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        right: 0;
        top: 8px;
        transition: all 0.5s ease;
    }

    &__list-subtitle_active::after {
        transform: rotate(180deg);
    }

    &__list-subtitle_active {
        font-size: 17px;
    }

    .details-content {
        :last-child {
            padding-bottom: 20px;
        }
    }

    a {
        display: block;
        padding: 9px 0 0 19px;
        font-size: 15px;
        line-height: 18px;
        font-weight: 500;
        color: rgb(16, 16, 16);
        transition: 0.3s ease;
    }

    a:hover {
        color: rgb(255, 165, 66);
    }

    &__list-aditional-item {
        font-size: 15px;
        line-height: 18px;
        font-weight: 500;
        padding: 9px 0 9px 0;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;

        :first-child {
            padding: 0;
        }

        display: none;
    }

    &__list-lang-menu {
        a {
            padding: 0;
        }

        display: flex;
        justify-content: start;
        gap: 8px;
    }

    @media (max-width: 992px) {
        &__button {
            position: absolute;
            right: 0;
            max-width: 20px;
            font-size: 0;
        }

        &__button::before,
        &__button::after {
            content: none;
            background-image: none;
        }

        &__list {
            opacity: 1;
            right: 100%;
            z-index: 10;
            box-shadow: -3px 3px 3px rgba($color: #000000, $alpha: 0.1);
        }

        &__list-aditional-item {
            display: flex;
        }
    }
}

@media (max-width: 992px) {
    .menu {
        position: absolute;
        right: -47px;
        top: 27px;
        z-index: 10;
        transition: all 1s ease;
        font-size: 15px;
        line-height: 18px;
    }

    .menu_active {
        right: 170px;
    }
}