@charset "UTF-8";

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v26-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v26-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v26-latin-600.woff2") format("woff2");
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #eaeaea;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.23;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header-container__left-content {
  display: flex;
  align-items: center;
}

.header-container__left-content-phone-icon {
  padding: 0 15px 0 65px;
}

.header-container__right-content {
  display: flex;
  align-items: center;
  gap: 45px;
}

.menu__list {
  display: flex;
}

.menu__list img {
  padding: 0 0 0 5px;
}

.footer-container {
  position: relative;
  height: 149px;
  background-color: #ffffff;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
}

.footer-container .footer-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 174px;
}

.footer-container .footer-content__left-content {
  display: flex;
  flex-basis: 50%;
  justify-content: end;
}

.footer-container .footer-content__logo {
  position: absolute;
  top: 29px;
  left: 31px;
}

.footer-container .footer-content__menu li {
  padding-bottom: 10px;
}

.footer-container .footer-content__menu-item {
  font-weight: 400;
  color: #000000;
  transition: color 0.3s;
}

.footer-container .footer-content__menu-item:hover {
  color: #ffa542;
}

.footer-container .footer-content__right-content {
  display: flex;
  flex-basis: 50%;
  gap: 135px;
  align-items: center;
}

.footer-container .footer-content__conditions {
  font-weight: 400;
  margin: 0 0 36px 0;
}

.footer-container .footer-content__conditions a {
  color: #000000;
}

.footer-container .footer-content__lang {
  display: flex;
}

.footer-container .footer-content__lang-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 15px;
  margin-left: 10px;
}

.footer-container .footer-content__lang-item {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
  transition: color 0.3s;
}

.footer-container .footer-content__lang-item:hover {
  font-weight: 700;
  color: #ffa542;
}

.footer-container .footer-content__social-icons {
  display: flex;
  gap: 17px;
  position: absolute;
  top: 29px;
  right: 31px;
}

/*# sourceMappingURL=main.css.map */