{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QPICK</title>
    <link type="text/css" href="{% static 'core/css/main.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header-container">
                    <div class="header-container__left-content">
                        <a href="{% url 'core:home' %}">
                            <img src="{% static 'core/images/Logo.svg' %}" alt="">
                        </a>
                        <nav class="menu">
                            <button class="menu__button">
                                <p>Выбрать модель телефона</p>
                            </button>
                            <ul class="menu__list">
                                <li class="menu__list-item">
                                    <details>
                                        <summary class="header__summary">
                                            <span class="menu__list-subtitle">Apple</span>
                                        </summary>
                                        <div class="details-content">
                                            <a href="">iPhone 12</a>
                                            <a href="">iPhone 12 Mini</a>
                                            <a href="">iPhone 12 Pro</a>
                                            <a href="">iPhone 12 Pro Max</a>
                                            <a href="">iPhone 13</a>
                                            <a href="">iPhone 13 Mini</a>
                                            <a href="">iPhone 13 Pro</a>
                                            <a href="">iPhone 13 Pro Max</a>
                                            <a href="">iPhone 14</a>
                                            <a href="">iPhone 14 Plus</a>
                                            <a href="">iPhone 14 Pro</a>
                                            <a href="">iPhone 14 Pro Max</a>
                                            <a href="">iPhone 15</a>
                                            <a href="">iPhone 15 Plus</a>
                                            <a href="">iPhone 15 Pro</a>
                                            <a href="">iPhone 15 Pro Max</a>
                                        </div>
                                    </details>
                                </li>
                                <li class="menu__list-item">
                                    <details>
                                        <summary class="header__summary">
                                            <span class="menu__list-subtitle">Samsung</span>
                                        </summary>
                                        <div class="details-content">
                                            <a href="">Galaxy S23 Ultra</a>
                                            <a href="">Galaxy S23+</a>
                                            <a href="">Galaxy S23</a>
                                            <a href="">Galaxy A54 5G</a>
                                            <a href="">Galaxy A34 5G</a>
                                            <a href="">Galaxy A14</a>
                                            <a href="">Galaxy S22 Ultra</a>
                                            <a href="">Galaxy S22+</a>
                                            <a href="">Galaxy S22</a>
                                            <a href="">Galaxy A53 5G</a>
                                            <a href="">Galaxy A33 5G</a>
                                            <a href="">Galaxy A13</a>
                                        </div>
                                    </details>
                                </li>
                                <li class="menu__list-item">
                                    <details>
                                        <summary class="header__summary">
                                            <span class="menu__list-subtitle">Xiaomi</span>
                                        </summary>
                                        <div class="details-content">
                                            <a href="">Xiaomi 14</a>
                                            <a href="">Xiaomi 13</a>
                                            <a href="">Xiaomi 12 Pro</a>
                                            <a href="">Mi Note 10 Lite</a>
                                            <a href="">Mi 10T</a>
                                            <a href="">Xiaomi 11T Pro</a>
                                            <a href="">Redmi Note 11 4G</a>
                                            <a href="">Redmi Note 11 5G+</a>
                                            <a href="">Redmi Note 11 Pro+</a>
                                            <a href="">Redmi K40 Pro</a>
                                            <a href="">Black Shark 4 Pro</a>
                                            <a href="">Xiaomi 13 pro</a>
                                        </div>
                                    </details>
                                </li>
                                <li class="menu__list-aditional-item">
                                    <img src="{% static 'core/images/like.svg' %}" alt="">Избраное
                                </li>
                                <li class="menu__list-aditional-item">
                                    <img src="{% static 'core/images/service.svg' %}" alt="">Условия сервиса
                                </li>
                                <li class="menu__list-aditional-item">
                                    <img src="{% static 'core/images/icon-phone.svg' %}" alt="">Контакты
                                </li>
                                <li class="menu__list-aditional-item">
                                    <ul class="menu__list-lang-menu">
                                        <img src="{% static 'core/images/globus.svg' %}" alt="">
                                        <li><a class="menu__list-lang-item" href="#">Каз</a></li>
                                        <li><a class="menu__list-lang-item" href="#">Ru</a></li>
                                        <li><a class="menu__list-lang-item" href="#">Eng</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-container__right-content right-content">
                        <a href="" class="right-content__img">
                            <img src="{% static 'core/images/like.svg' %}" alt="" width="22px" height="20px">
                        </a>
                        <a href="{% url 'core:basket' %}" class="right-content__img">
                            <img src="{% static 'core/images/basket-icon.svg' %}" alt="">
                        </a>
                        <button class="right-content__burger-btn">
                            <span class="right-content__burger-item"></span>
                            <span class="right-content__burger-item"></span>
                            <span class="right-content__burger-item"></span>
                        </button>
                    </div>
                    <!-- <div class="header-container__right-content right-content">
                        <a href="#">
                            <svg class="right-content__item" width="22px" height="20px">
                                <use href="{% static 'core/images/icons.svg' %}#icon-like">
                                </use>
                            </svg>
                        </a>
                        <a href="#">
                            <svg class="right-content__item" width="23px" height="23px">
                                <use href="{% static 'core/images/icons.svg' %}#icon-basket">
                                </use>
                            </svg>
                        </a>
                    </div> -->
                </div>
            </div>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer id="footer">
            <div class="container">
                <div class="footer-container">
                    <div class="footer-content">
                        <div class="footer-content__left-content">
                            <div class="footer-content__logo">
                                <a href="{% url 'core:home' %}">
                                    <img src="{% static 'core/images/Logo.svg' %}" alt="">
                                </a>
                            </div>

                            <ul class="footer-content__menu">
                                <li><a class="footer-content__menu-item" href="{% url 'core:selected' %}">Избранное</a>
                                </li>
                                <li><a class="footer-content__menu-item" href="{% url 'core:basket' %}">Корзина</a></li>
                                <li><a class="footer-content__menu-item" href="{% url 'core:contact' %}">Контакты</a>
                                </li>
                            </ul>

                        </div>
                        <div class="footer-content__right-content">
                            <div class="footer-content__info">
                                <div class="footer-content__conditions">
                                    <a href="{% url 'core:about' %}">Условия сервиса</a>
                                </div>
                                <div class="footer-content__lang">
                                    <img src="{% static 'core/images/lang.svg' %}" alt="">
                                    <ul class="footer-content__lang-menu">
                                        <li><a class="footer-content__lang-item" href="#">Каз</a></li>
                                        <li><a class="footer-content__lang-item" href="#">Ru</a></li>
                                        <li><a class="footer-content__lang-item" href="#">Eng</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-content__social-icons">
                                <a href="https://www.instagram.com/" target="_blank">
                                    <svg class="social-link" width="30px" height="30px">
                                        <use href="{% static 'core/images/icons.svg' %}#icon-instagram">
                                        </use>
                                    </svg>
                                </a>
                                <a href="https://web.telegram.org/" target="_blank">
                                    <svg class="social-link" width="30px" height="30px">
                                        <use href="{% static 'core/images/icons.svg' %}#icon-telegram">
                                        </use>
                                    </svg>
                                </a>
                                <a href="https://web.whatsapp.com/" target="_blank">
                                    <svg class="social-link" width="30px" height="30px">
                                        <use href="{% static 'core/images/icons.svg' %}#icon-whatsapp">
                                        </use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'core/js/footer-hidden.js' %}"></script>
<script src="{% static 'core/js/header.js' %}"></script>
<script src="{% static 'core/js/swiper-hidden.js' %}"></script>
<script src="{% static 'core/js/swiper.js' %}"></script>

</html>