{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QPICK</title>
    <link type="text/css" href="{% static 'core/css/main.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header-container">
                    <div class="header-container__left-content">
                        <img src="{% static 'core/images/Logo.svg' %}" alt="logo-img">
                        <nav class="menu">
                            <button class="menu__button">Выбрать модель телефона</button>
                            <ul class="menu__list">
                                <li class="menu__list-item">
                                    <details>
                                        <summary>Apple</summary>
                                        <a href="">Iphone 13 Pro</a>
                                        <a href="">Iphone 13 Pro</a>
                                    </details>
                                </li>
                                <li class="menu__list-item">
                                    <details>
                                        <summary>Samsung</summary>
                                        <a href="">Iphone 13 Pro</a>
                                        <a href="">Iphone 13 Pro</a>
                                    </details>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-container__right-content">
                        <a href=""><img src="{% static 'core/images/like-icon.svg' %}" alt=""></a>
                        <a href=""><img src="{% static 'core/images/basket-icon.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer id="footer">
            <div class="container">
                <div class="footer-container">
                    <div class="footer-content">
                        <div class="footer-content__left-content">
                            <div class="footer-content__logo">
                                <img src="{% static 'core/images/Logo.svg' %}" alt="">
                            </div>

                            <ul class="footer-content__menu">
                                <li><a class="footer-content__menu-item" href="#">Избранное</a></li>
                                <li><a class="footer-content__menu-item" href="#">Корзина</a></li>
                                <li><a class="footer-content__menu-item" href="#">Контакты</a></li>
                            </ul>

                        </div>
                        <div class="footer-content__right-content">
                            <div class="footer-content__info">
                                <div class="footer-content__conditions">
                                    <a href="#">Условия сервиса</a>
                                </div>
                                <div class="footer-content__lang">
                                    <img src="{% static 'core/images/lang.svg' %}" alt="">
                                    <ul class="footer-content__lang-menu">
                                        <li><a class="footer-content__lang-item" href="#">Каз</a></li>
                                        <li><a class="footer-content__lang-item" href="#">Ru</a></li>
                                        <li><a class="footer-content__lang-item" href="#">Eng</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-content__social-icons">
                                <a href="#">
                                    <svg class="social-link" width="30px" height="30px">
                                        <use href="{% static 'core/images/icons.svg' %}#icon-instagram">
                                        </use>
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg class="social-link" width="30px" height="30px">
                                        <use href="{% static 'core/images/icons.svg' %}#icon-telegram">
                                        </use>
                                    </svg>
                                </a>
                                <a href="#">
                                    <svg class="social-link" width="30px" height="30px">
                                        <use href="{% static 'core/images/icons.svg' %}#icon-whatsapp">
                                        </use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="{% static 'core/js/footer-hidden.js' %}"></script>
<script src="{% static 'core/js/header.js' %}"></script>



</html>